.main-container {
  display: flex;
  height: 100vh;
}

app-sidebar {
  width: 250px;
  transition: width 0.3s;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  padding: 2rem;
  background-color: var(--background-color);
  position: relative;
  overflow-y: auto;
}


.main-container:not(.sidebar-open) app-sidebar {
  width: 40px;
}
