:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 6.31057L10.384 5.44466C8.79453 5.83517 7.42633 6.78871 6.503 8.08176L6.84107 9.34344L8.9101 10.1585L11.25 8.59862L11.25 6.31057ZM5.25 12C5.25 11.6632 5.27467 11.3321 5.3223 11.0085L6.30612 10.7449L8.32951 11.542L8.85967 14.7422L7.56573 16.0362L6.58916 16.0362C5.74804 14.9104 5.25 13.5134 5.25 12ZM8.82239 17.9568C9.76937 18.463 10.8512 18.75 12 18.75C13.2363 18.75 14.395 18.4176 15.3915 17.8374V17.1148L14.0267 15.75H9.97325L8.82239 16.9009V17.9568ZM16.5394 16.1414H17.3306C18.2202 14.998 18.75 13.5609 18.75 12C18.75 11.774 18.7389 11.5507 18.7172 11.3304L17.6993 10.7427L15.6704 11.542L15.1402 14.7422L16.5394 16.1414ZM17.6128 8.24912C16.69 6.87114 15.2734 5.85187 13.616 5.44468L12.75 6.31077L12.75 8.59862L15.0898 10.1585L16.9286 9.43415L17.6128 8.24912ZM3.75 12C3.75 7.44365 7.44365 3.75 12 3.75C16.5563 3.75 20.25 7.44365 20.25 12C20.25 16.5563 16.5563 20.25 12 20.25C7.44365 20.25 3.75 16.5563 3.75 12ZM9.81904 11.3553L10.2986 14.25H13.7013L14.1809 11.3553L12 9.90139L9.81904 11.3553Z" fill="%237091E6"/></svg>');
    background-repeat: repeat;
    background-size: 80px;
    opacity: 0.2;
    z-index: 0;
  }
}

.register-container {
  position: relative;
  z-index: 1;
  padding: 2rem;
  background: var(--form-background-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 100%;
  max-width: 400px;

  h2 {
    color: var(--text-color);
    margin-bottom: 1.5rem;
  }

  .form-group {
    margin-bottom: 1rem;
    text-align: left;

    label {
      display: block;
      margin-bottom: 0.5rem;
      color: var(--text-secondary-color);
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid var(--secondary-color);
      border-radius: 4px;
      box-sizing: border-box;
      font-weight: bold;
      background-color: var(--input-background-color);
      color: var(--input-text-color);
    }
  }

  .phone-input-container {
    display: flex;
    align-items: center;

    .country-code {
      padding: 0.75rem;
      border: 1px solid var(--secondary-color);
      border-right: none;
      background-color: var(--secondary-background-color);
      border-radius: 4px 0 0 4px;
      white-space: nowrap;
      color: var(--text-secondary-color);
      font-weight: bold;
    }

    input {
      border-radius: 0 4px 4px 0;
    }
  }

  .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: var(--text-color);
    box-shadow: 0 0 0 2px var(--primary-color);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: var(--text-color);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .animated-button .arr-1 {
    right: 16px;
  }

  .animated-button .arr-2 {
    left: -25%;
  }

  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-image: linear-gradient(to right, var(--gradient-color-start), var(--gradient-color-end));
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #fff;
    border-radius: 12px;
  }

  .animated-button:hover .arr-1 {
    right: -25%;
  }

  .animated-button:hover .arr-2 {
    left: 16px;
  }

  .animated-button:hover .text {
    transform: translateX(12px);
  }

  .animated-button:hover svg {
    fill: #fff;
  }

  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px var(--primary-color);
  }

  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  p {
    margin-top: 1.5rem;
    color: var(--text-secondary-color);

    a {
      color: var(--link-color);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 600px) {
  .register-container {
    padding: 1.5rem;
    max-width: 100%;
    margin: 1rem;
  }
}
