<div class="modal-overlay" *ngIf="isVisible" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2><strong>Seleccionar Equipo</strong></h2>
      <button class="close-button" (click)="close()">×</button>
    </div>
    
    <div class="teams-container">
      <!-- Tarjetas con animación de volteo para cada equipo -->
      <div class="flip-card" *ngFor="let team of teams" (click)="selectTeam(team)">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="title">{{team.name}}</p>
          </div>
          <div class="flip-card-back">
            <p class="title">{{team.name}}</p>
          </div>
        </div>
      </div>
      
      
      <!-- Tarjeta para crear nuevo equipo -->
      <div class="flip-card create-team" (click)="createTeam()">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="title">NUEVO EQUIPO</p>
          </div>
          <div class="flip-card-back">
            <p class="title">CREAR</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>