<div class="team-register-container">
  <h2>{{ getStepTitle() }}</h2>
  <form (ngSubmit)="registerTeam()">
    <div [ngSwitch]="currentStep">
      <!-- Step 1: Team Info -->
      <div *ngSwitchCase="1">
        <div class="form-group">
          <label for="teamName">Nombre del Equipo</label>
          <div class="input-with-icon">
            <i class="fas fa-users"></i>
            <input type="text" id="teamName" name="teamName" [(ngModel)]="teamName" required>
          </div>
        </div>
        <div class="form-group">
          <label for="region">Región</label>
          <div class="input-with-icon">
            <i class="fas fa-map-marker-alt"></i>
            <select id="region" name="region" [(ngModel)]="selectedRegion" (change)="onRegionChange()">
              <option value="" disabled selected>Selecciona una región</option>
              <option *ngFor="let region of regions" [ngValue]="region">{{ region.region }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="comuna">Comuna</label>
          <div class="input-with-icon">
            <i class="fas fa-map-pin"></i>
            <select id="comuna" name="comuna" [(ngModel)]="selectedComuna" [disabled]="!selectedRegion">
              <option value="" disabled selected>Selecciona una comuna</option>
              <option *ngFor="let comuna of comunas" [ngValue]="comuna">{{ comuna }}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Step 2: Logo -->
      <div *ngSwitchCase="2">
        <div class="form-group">
          <label for="logo">Logo del Equipo</label>
          <div class="file-upload-form" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
            <label class="file-upload-label" for="file">
              <div class="file-upload-design">
                <img [src]="logoPreview" *ngIf="logoPreview" class="logo-preview" />
                <div *ngIf="!logoPreview" class="upload-content" (click)="fileInput.click()">
                  <i class="fas fa-cloud-upload-alt upload-icon"></i>
                  <div class="upload-text">
                    <p>Arrastra y suelta tu logo aquí</p>
                    <div class="upload-divider">
                      <span>o</span>
                    </div>
                    <button type="button" class="browse-button" (click)="$event.stopPropagation(); fileInput.click()">Seleccionar archivo</button>
                  </div>
                </div>
              </div>
              <input #fileInput type="file" id="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
            </label>
          </div>
        </div>
      </div>

      <!-- Step 3: Schedule -->
      <div *ngSwitchCase="3">
        <div class="form-group schedule-option">
          <label class="switch-container">
            <input type="checkbox" [(ngModel)]="hasSchedule" name="hasSchedule">
            <span class="switch-slider"></span>
            <span class="switch-label">Tengo horario disponible</span>
          </label>
        </div>
        <div *ngIf="hasSchedule" class="schedule-container">
          <h3 class="schedule-subtitle">Selecciona los días disponibles</h3>
          <div class="days-container">
            <div *ngFor="let day of availableDays" class="day-container">
              <label class="day-checkbox">
                <input type="checkbox" [checked]="schedule[day]" (change)="toggleDay(day)">
                <span class="day-checkmark"></span>
                <span class="day-label">{{ day.substring(0, 3) }}</span>
              </label>
            </div>
          </div>
          <div class="time-slots-container">
            <div *ngFor="let day of availableDays">
              <div *ngIf="schedule[day]" class="time-slot">
                <div class="time-slot-header">{{ day }}</div>
                <div class="time-select-container">
                  <div class="input-with-icon">
                    <i class="fas fa-clock"></i>
                    <div>
                      <div class="time-label">Hora de inicio</div>
                      <select id="startTime-{{day}}" name="startTime-{{day}}" [(ngModel)]="schedule[day]!.startTime">
                        <option *ngFor="let time of timeSlots" [ngValue]="time">{{ time }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="input-with-icon">
                    <i class="fas fa-clock"></i>
                    <div>
                      <div class="time-label">Hora de fin</div>
                      <select id="endTime-{{day}}" name="endTime-{{day}}" [(ngModel)]="schedule[day]!.endTime">
                        <option *ngFor="let time of timeSlots" [ngValue]="time">{{ time }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button type="button" class="nav-button back-button" (click)="prevStep()" *ngIf="currentStep > 1">Atrás</button>
      <button type="button" class="nav-button next-button" (click)="nextStep()" *ngIf="currentStep < 3">Siguiente</button>
      <button type="submit" class="register-button" *ngIf="currentStep === 3">Registrar Equipo</button>
    </div>
  </form>
</div>
