@use 'ngx-toastr/toastr' as *;

:root {
  --primary-color: #5E5CE6;
  --secondary-color: #F2F2F7;
  --gradient-color-start: #9d50ee;
  --gradient-color-end: #4a8cff;
  --background-color: #F9F9F9;
  --secondary-background-color: #FFFFFF;
  --form-background-color: #F2F2F7;
  --text-color: #121212;
  --text-secondary-color: #8A8A8E;
  --input-background-color: #F2F2F7;
  --input-text-color: #121212;
  --sidebar-gradient-start: #cfc2ff;
  --sidebar-gradient-end: #dae9ff;
  --link-color: #5E5CE6;
  --loader-background-color: rgba(255, 255, 255, 1);
  --loader-color-light: #6A11CB;
  --loader-color-dark: #2575FC;
  --loader-stroke-color: #000000;
  --loader-text-color: #121212;
  --upload-icon-color: #121212;
  --inverse-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark-mode {
  --primary-color: #5E5CE6;
  --secondary-color: #3A3A3C;
  --gradient-color-start: #8A31EB;
  --gradient-color-end: #4595FC;
  --background-color: #121212;
  --secondary-background-color: #1E1E1E;
  --form-background-color: #2C2C2E;
  --text-color: #FFFFFF;
  --text-secondary-color: #A9A9A9;
  --link-color: #8280ff;
  --input-background-color: #2C2C2E;
  --input-text-color: #FFFFFF;
  --sidebar-gradient-start: #2a2a3a;
  --sidebar-gradient-end: #1E1E1E;
  --loader-background-color: #121212;
  --loader-color-light: #FFFFFF;
  --loader-color-dark: #FFFFFF;
  --upload-icon-color: #FFFFFF;
  --loader-stroke-color: #FFFFFF;
  --loader-text-color: #FFFFFF;
  --inverse-color: #ffffff;
}
