/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #3D52A0;
  --secondary-color: #7091E6;
  --accent-color-1: #8697C4;
  --accent-color-2: #ADBBDA;
  --background-color: #EDE8F5;
  --secondary-background-color: #ffffff;
}

body.dark-mode {
  --primary-color: #6b6b6b;
  --secondary-color: #ffffff;
  --accent-color-1: #868686;
  --accent-color-2: #525252;
  --background-color: #121212;
  --secondary-background-color: #222222;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}
